<div id="inscription-header" class="row">
  <div class="span4 left">
    <p>INSCRIÇÃO</p>
  </div>
  <div class="span8 right">
    <p>São José dos Campos/SP Edition<br><small>8 e 9 de dezembro de 2012</small></p>
  </div>
</div>
