<%= render :partial => "header" %>
<h2>Obrigado por se inscrever!</h2>
<p>
  <strong>O pagamento está sendo processado pelo PagSeguro.</strong><br>
  Assim que o pagamento for confirmado, você receberá um e-mail do PagSeguro.
</p>
<p>
  <strong>Fique tranquilo!</strong><br>
  O PagSeguro confirmando seu pagamento, enviaremos um e-mail confirmando sua inscrição.
</p>
<p class="information">Qualquer dúvida ou problema no pagamento, entre em contato conosco através do e-mail: rupy@designa.com.br</p>
<%= link_to "Voltar para a página inicial", root_path, :id => "root-link", :class => "btn btn-primary" %>
