<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Olá <%= @inscription.name %>!</p>

    <p>Verificamos que você iniciou sua inscrição para o evento <strong>RUPY BRAZIL 2012</strong> porém não finalizou a mesma.</p>

    <p>
      Clique no link abaixo para dar continuidade em sua inscrição e realizar o pagamento:<br>
      <%= link_to br_inscription_url(@inscription), br_inscription_url(@inscription), :target => "_blank" %>
    </p>

    <p>Qualquer dúvida estamos a disposição.</p>

    <p>
      <strong>RuPy Brazil Team</strong><br>
      <%= link_to "rupy.com.br", root_url, :target => "_blank" %>
    </p>
  </body>
</html>
