<section id="about" class="hero-unit section container">
  <div id="logo">
    <h1>RuPy 2012</h1>
    <p>
      <span>Strongly Dynamic Conference</span> <span>Connecting Hemispheres</span>
    </p>
  </div>

  <%= event.inscription_description.html_safe %>

  <div class="row">
    <div class="span6">
      <h3 class="highline"><span class="icon medium twitter">Twitter</span></h3>
      <div class="content-column news">
        <a href="http://twitter.com/RuPy">Lastest tweet</a>
        <div class="tweet"></div>
      </div>
    </div>
    <div class="span6">
      <h3 class="highline"><span class="icon medium tumblr">Blog</span></h3>
      <div class="content-column news">
        <div class="rss-feed"></div>
      </div>
    </div>
  </div>
</section>
