<section id="about" class="hero-unit section container">
  <div id="logo">
    <h1>RuPy 2012</h1>
    <p>
      <span>Strongly Dynamic Conference</span> <span>Connecting Hemispheres</span>
    </p>
  </div>

  <%= event.inscription_description.html_safe %>

  <div class="row">
    <div class="span6">
      <div class="content-column">
        <h3 class="highline"><span class="icon medium twitter">Twitter</span></h3>
      </div>
    </div>
    <div class="span6">
      <div class="content-column">
        <h3 class="highline"><span class="icon medium tumblr">Blog</span></h3>
      </div>
    </div>
  </div>
</section>
