<section id="faq" class="section container">
  <h2><%= t(:faq_long) %></h2>

  <blockquote class="highline">
    <span>It's <strong>thanks to the support and assistance</strong> of our sponsors that RuPy conference is possible</span>
    <span>so take the time and have a look on <strong>who they are and what they do</strong>.</span>
  </blockquote>

  <div class="row">
    <div class="span3">
      <div class="content-column">
        <h3><span>What is this</span> <span>conference about?</span></h3>
        <p class="justify-text">
          RuPy is the first, non-profit, volunteered conference in Central and Eastern Europe about Ruby, Python and JavaScript organized by developers for developers. Its aim is to bring together communities from different state-of-the-art programming languages: Ruby, Python and JavaScript. The goal of the conference is to bridge these communities because we believe that being a polyglot developer brings huge benefits to the skill-set of a developer.
        </p>
      </div>
    </div>
    <div class="span3">
      <div class="content-column">
        <h3><span>How is RuPy different</span> <span>from the others?</span></h3>
        <p class="justify-text">
          Don't expect any singular, monothematic technological views or boring talks. If you are looking for diversity, high quality, interesting talks from remarkable speakers, workshops led by experts, open events, lightning talks, affordable price, confrontations, contrasting and comparing different approaches, diving into modern, still unexplored, technology solutions, unexpected synergies or creative mixes, then RuPy conference is the right conference for you.
        </p>
      </div>
    </div>
    <div class="span3">
      <div class="content-column">
        <h3><span>Why connecting</span> <span>hemispheres?</span></h3>
        <p class="justify-text">
          The first four years of the conference were held in Poland. This year there will be two simultaneous editions across two hemispheres, one in Brno and one in São José dos Campos. Brno is becoming the technological centre of Central Europe with several universities providing technical education and many tech-companies setting up centres here. São José dos Campos is an important technological centre in Brazil with constantly evolving and growing community of Ruby and Python.
        </p>
      </div>
    </div>
    <div class="span3">
      <div class="content-column">
        <h3><span>Am I fit for</span> <span>RuPy?</span></h3>
        <p class="justify-text">
          If you are a developer who is not afraid to confront different points of view, willing to learn and experiment with new languages and technologies, eager to compare problems and solutions, determined to dive into and explore modern still unexplored technology solutions, ready to share methodologies and philosophy in order to come up with new synergies and ideas, then RuPy is exactly the conference you shouldn't miss.
        </p>
      </div>
    </div>
  </div>
</section>