<section id="location" class="section container">
  <h2><%= t(:location) %></h2>

  <blockquote class="highline">
    <span>By <strong>connecting hemispheres</strong> RuPy aims to <strong>connecting people</strong> as well.</span>
    <span><strong>Brno</strong> wil be the place where all the <strong>RuPy magic</strong> will happen.</span>
  </blockquote>

  <div class="row">
    <div class="span6">
      <div class="content-column">
        <div id="google-maps"></div>
        <div class="location-details">
          <div class="content-column">
            <h3>Faculty of Informatics Masaryk University</h3>
            <address>
              <strong>Address:</strong><br>
              Botanická 68a<br>
              602 00 Brno<br>
              Czech Republic<br>
              Europe<br>
              <strong>GPS:</strong><br>
              Latitude: 49.210211<br>
              Longitude: 16.599676
            </address>
          </div>
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="content-column">

        <div id="city-carousel" class="carousel slid">
          <div class="carousel-inner">
            <div class="active item"><img src="/assets/brno.jpg"></div>
            <div class="item"><img src="/assets/brno.jpg"></div>
          </div>

          <a class="carousel-control left" href="#city-carousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#city-carousel" data-slide="next">&rsaquo;</a>
        </div>

        <div class="location-details">
          <div class="content-column">
            <h3>Brno</h3>
            <p>
              Historic sites, modern architecture, busy city streets, quiet corners and parks, fancy restaurants, cosy cafés and pubs, culture, past and future, passion and charm... All this and even more can be found in Brno, the second biggest city of the Czech Republic, which will surely captivate you by its liveliness and cosy atmosphere.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <h3 class="highline"><%= t(:accomodation) %></h3>
  <div id="accomodation" class="row">
    <div class="span4">
      <div class="content-column">
        <h4 class="accomodation-highline"><span>Expensive:</span> <span>Barceló Brno Palace</span></h4>
        <p>
          If you are looking for living in a palace, Barceló Brno Palace is the right hotel for you. The recently renovated 19th century building standing in the historical heart of the the city offers elegant and comfortable rooms, superb restaurant, free Wi-Fi, sauna and a gym.
        </p>
        <ul class="nav pull-left">
          <li class="icon small website"><a href="http://www.barcelo.com/BarceloHotels/en_GB/hotels/Czech-Republic/Brno/hotel-barcelo-brno-palace/general-description.aspx" title="Website">Website</a></li>
          <li class="icon small booking"><a href="http://www.booking.com/ab4e6f068143eb42" title="Booking.com">Booking.com</a></li>
        </ul>
        <dl class="price-for-night pull-right">
          <dt>Price for night</dt>
          <dd><strong>127&mdash;160 EUR</strong></dd>
        </dl>
      </div>
    </div>

    <div class="span4">
      <div class="content-column">
        <h4 class="accomodation-highline"><span>Standard:</span> <span>Hotel Avanti</span></h4>
        <p>
          Hotel Avanti situated near the city centre by Luzanky Park offers its guests modern, spacious rooms, a restaurant with Czech and international cuisine and a wellness centre. Free Wi-Fi.
        </p>
        <p>
          <strong>Attention!</strong> Hotel Avanti offers a special discount rate for conference participants: Just mention our secret password <strong>"RuPy 12 Europe"</strong> and the discount is yours.
        </P>
        <ul class="nav pull-left">
          <li class="icon small website"><a href="http://www.brno-hotel-avanti.eu/" title="Website">Website</a></li>
          <li class="icon small booking"><a href="http://www.booking.com/8f0b9854e2c76" title="Booking.com">Booking.com</a></li>
        </ul>
        <dl class="price-for-night pull-right">
          <dt>Price for night</dt>
          <dd>1 room / 1 person <strong>60 EUR</strong></dd>
          <dd>1 room / 2 person <strong>66 EUR</strong></dd>
        </dl>
      </div>
    </div>

    <div class="span4">
      <div class="content-column">
        <h4 class="accomodation-highline"><span>Cheap:</span> <span>Hostel Fléda</span></h4>
        <p>
          If you are looking for living in a palace, Barceló Brno Palace is the right hotel for you. The recently renovated 19th century building standing in the historical heart of the the city offers elegant and comfortable rooms, superb restaurant, free Wi-Fi, sauna and a gym.
        </p>
        <ul class="nav pull-left">
          <li class="icon small website"><a href="http://www.hostelfleda.com/en/" title="Website">Website</a></li>
          <li class="icon small booking"><a href="http://www.booking.com/6e2790a031c9e55d" title="Booking.com">Booking.com</a></li>
        </ul>
        <dl class="price-for-night pull-right">
          <dt>Price for night</dt>
          <dd>approximately <strong>14 EUR</strong></dd>
        </dl>
      </div>
    </div>
  </div>

  <p class="more-on-blog">
    For more information about accomodation please visit <a href="http://blog.rupy.eu/post/32858745018/getting-to-brno-safe-and-sound">our blog</a>.
  </p>

  <h3 class="highline"><%= t(:travel_info) %></h3>
  <div id="travel-info" class="row">
    <div class="span3">
      <div class="content-column">
        <h4 class="travel-highline"><span class="icon large bus">Bus</span></h4>
        <p>
          Student Agency buses leave regularly from Vienna, Berlin, Budapest, Munich, Bratislava or Prague. Note that it is necessary to buy bus tickets for Student Agency via their <a href="https://jizdenky.studentagency.cz">website</a>.
        </p>
      </div>
    </div>

    <div class="span3">
      <div class="content-column">
        <h4 class="travel-highline"><span class="icon large train">Train</span></h4>
        <p>
          EC trains to Brno leave regularly from Vienna, Prague, Bratislava, Budapest, Berlin, Munich, Ljubljana, Zagreb, Belgrade, Wroclaw, Krakow, Poznan or Warsaw. For train timetables check <a href="http://jizdnirady.idnes.cz">jizdnirady.idnes.cz</a> or <a href="http://www.cd.cz/en/">cd.cz</a>.
        </p>
      </div>
    </div>

    <div class="span3">
      <div class="content-column">
        <h4 class="travel-highline"><span class="icon large car">Car</span></h4>
        <p>
          There are roads that connect Brno to with major Czech cities. Use D1 highway from the direction of Prague, Ostrava, Łódź or Gdańsk, D2 highway from Budapest and Bratislava, D3 highway from Austria, D5 or D8 highway from Germany. For the highway you have to buy a toll sticker.
        </p>
      </div>
    </div>

    <div class="span3">
      <div class="content-column">
        <h4 class="travel-highline"><span class="icon large plane">Plane</span></h4>
        <p>
          Directly to Brno from London with lowcosts Ryanair or Wizzair. Fly to Prague or Vienna and then take a direct Student Agency bus or an EC train.
        </p>
      </div>
    </div>
  </div>

  <p class="more-on-blog">
    For more information &amp; special tips about traveling please visit <a href="http://blog.rupy.eu/post/32858745018/getting-to-brno-safe-and-sound">our blog</a>.
  </p>
</section>