<section id="workshops" class="section container">
  <h2><%= t(:workshops) %></h2>

  <blockquote class="highline">
    <span>The <strong>announcement</strong> of the workshop lead by several of <strong>our speakers</strong></span>
    <span>is <strong>coming soon</strong>.</span>
  </blockquote>
</section>