<section id="workshops" class="section container">
  <h2><%= t(:workshops) %></h2>

  <div class="button-block">
    <%= link_to 'Register for workshops', 'http://goo.gl/My4EP', :class => "btn btn-large btn-primary" %>
  </div>

  <blockquote class="highline">
  </blockquote>
</section>