#redhat.modal.hide
  .modal-header
    %img.sponsor{src: 'images/sponsor/redhat.png'}
  .modal-body
    %p Red Hat is the world’s leading provider of open source solutions, offering choice to customers building open source IT infrastructures. Its unique business model provides open source subscriptions for its high-quality, affordable technology. 

    %p Its operating system platform, Red Hat Enterprise Linux, and virtualization solution, Red Hat Enterprise Virtualization, together with applications, management, service-oriented architecture (SOA) solutions, included in the JBoss Enterprise Middleware portfolio, and cloud solutions, deliver industry-leading value. The company is based in Raleigh, NC and has 66 offices around the world.
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close
    %a.btn.btn-primary{href: "http://redhat.com"} Launch website 
