#vendavo.modal.hide
  .modal-header
    %img.sponsor{src: 'images/sponsor/vendavo.png'}
  .modal-body
    %p Vendavo is a leading provider of price management and optimization solutions for business-to-business companies all over the world. The solutions include comprehensive pricing analysis, optimization, price setting, and deal execution capabilities that help companies improve profits. Vendavo HQ is based in Mountain View in Silicon Valley and has a great team worldwide.

  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close
    %a.btn.btn-primary{href: "http://vendavo.com"} Launch website