!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Bootstrap, from Twitter
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    / Le styles
    %link{:href => "/stylesheets/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/bootstrap-responsive.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/style.css", :rel => "stylesheet"}

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .container
      .row
        .span3.sidebar
          / Sidebar content
          Sidebar
        .span9
          %section#intro
            .page-header
              %h1 RuPy 12
            %p RuPy is an international conference with focus on Python \& Ruby related technologies. This year it will have two editions in Brno, Czech Republic and in Sao Paulo, Brazil.

          %section#speakers
            .page-header
              %h2 Speakers

            %ul.thumbnails
              %li.span3
                .thumbnail
                  %img{:alt => "", :src => "http://placehold.it/260x220"}
                  .caption
                    %h5 Speaker Name
                    %blockquote How to do some stuff
                    %p Description
              %li.span3
                .thumbnail
                  %img{:alt => "", :src => "http://placehold.it/260x220"}
                  .caption
                    %h5 Speaker Name
                    %blockquote How to do some stuff
                    %p Description
              %li.span3
                .thumbnail
                  %img{:alt => "", :src => "http://placehold.it/260x220"}
                  .caption
                    %h5 Speaker Name
                    %blockquote How to do some stuff
                    %p Description

          %section#sponsors
            .page-header
              %h2 Our beloved sponsors 

          %section#venue
            .page-header
              %h2 Venue 

          %section#crew
            .page-header
              %h2 Who is doing this conference ? 
