$gridColumnWidth: 70px;
$gridGutterWidth: 30px;
$bodyBackground:  #000033;

$textColor: #FFFFFF;
$linkColor: $textColor;

$horizontal-padding: $gridGutterWidth / 2;
$baseFontSize:       20px;
$sansFontFamily:     'AvalonBook', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$navbarLinkColor:      #E20031;
$navbarLinkColorHover: $navbarLinkColor;
$navbarBrandColor:     #FFFFFF;
$navbarHeight:         46px;

$btnPrimaryBackground:          #E20031;
$btnPrimaryBackgroundHighlight: $btnPrimaryBackground;