/*
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_self
*/

body {
  @media (min-width: 980px) { padding-top: 60px; }

  > .navbar {
    .brand {
      padding-right: 0;
      padding-left: 0;
      margin-left: 20px;
      float: right;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
      -webkit-transition: all .2s linear;
         -moz-transition: all .2s linear;
              transition: all .2s linear;

      @media (max-width: 980px) {
        float: left;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .brand:hover {
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
    }
  }
}

.btn-top {
  margin-bottom: 25px;
}

.table {
  td {vertical-align: middle; }
  td.nowrap { white-space: nowrap; width: 1px; }
}

input[type="file"] {
  width: 122px;
}
