/*
 *= require_self
*/

@import 'bootstrap';
@import 'bootstrap-responsive';

@media (max-width: 767px) {
  header {
    margin-left: -20px;
    margin-right: -20px;
  }
  header > div {
    padding-left: 20px;
    padding-right: 20px;
  }
}

body { position: relative; }

body > header {
  margin-bottom: 30px;

  #header-background {
    margin-bottom: 20px;

    @media (max-width: 767px) {
      background: #1b2458 image-url("header-small.png") no-repeat center top;
      height: 480px;
    }
    @media (min-width: 768px) {
      background: #1b2458 image-url("header-medium.png") no-repeat center top;
      height: 307px;
    }
    @media (min-width: 980px) {
      background: #1b2458 image-url("header-large.png") no-repeat center top;
      height: 307px;
    }
  }
}

body {

  padding-bottom: 30px;

  #inscription-header {
    margin-bottom: 10px;
    p {
      font-size: 17pt;
      height: 101px;
      font-weight: bold;
      line-height: 25px;
    }
    .left p {
      background: image-url("ticket.png") no-repeat left center;
      padding-top: 60px;
      padding-left: 140px;
    }
    .right p {
      background: image-url("flag-br.png") no-repeat right center;
      padding-top: 40px;
      padding-right: 130px;
      float: right;
      small { font-weight: normal; }
    }
  }

  h2, p { color: #1b2458; }
  h2 { font-size: 17pt; }
  p { margin-bottom: 20px; }

  p.information {
    font-size: 10pt;
    line-height: 16px;
    margin-bottom: 5px;
    &, a { color: red; }
    a { font-weight: bold; }
  }

  form.pagseguro, #root-link { margin: 30px 0; }
  form.pagseguro input[type="submit"] {
    @extend .btn, .btn-primary;
  }

  p#inscription-closed {
    text-transform: uppercase;
    color: #B94A48;
    text-align: center;
    font-weight: bold;
    font-size: 26pt;
  }
}
