#home > #main {
  h1 {
    font-family: "Ubuntu";
    font-weight: normal;
    font-size: 25pt;
    text-transform: uppercase;
    text-align: center;
  }

  h2 {
    text-transform: uppercase;
    font-size: 12pt;
    letter-spacing: 0.1em;
    font-family: 'Ubuntu';
  }

  #blog {
    clear: both;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    a {
      margin: 15px auto;
      font-weight: bold;
      background-color: #e20031;
      color: #EFEFEF;
      padding: 6px;
    }
  }

  #flags {
    margin-top: 10px;
    #br, #cz {
      @media (max-width: 767px) { margin-top: 20px; }
      position: relative;
      text-align: center;
      img { margin-bottom: 14px; }
      p { margin-bottom: 0; }
      a, a:hover { color: #061C0B; }
    }
  }

  .afix-sidebar {
    min-height: 1px;
    margin-top: 15px;

    ul.affix { top: 30px; }
    ul.affix-bottom { position: absolute; bottom: 550px; }

    li {
      margin-bottom: 15px;
      @media (min-width: 768px) { width: 126px; }
      @media (min-width: 980px) { width: 180px; }
      @media (min-width: 1200px) { width: 210px; }
      &.active > a, &.active > a:hover { background-color: #eeeeee; }
    }

    a, a:hover {
      color: #151212;
      text-transform: uppercase;
      font-family: 'Ubuntu';
      font-weight: bold;
      background-color: white;
    }
  }

  section { margin-bottom: 30px; }

  section#speakers {
    font-family: 'Ubuntu';
    > div { margin-top: 20px; margin-bottom: 20px; }
    img {
      width: 150px;
      margin-right: 30px;
      @media (min-width: 768px) { float: left; }
    }
    h3 {
      font-size: 34px;
      font-weight: normal;
      line-height: 20px;
      color: #2EAB49;
    }
    p {
      color: #181818;
      margin-bottom: 0;
      &.title {
        color: #2EAB49;
        font-weight: bold;
        font-size: 10px;
        text-transform: uppercase;
      }
    }
  }

  section#sponsors {
    p.title {
      font-family: 'Ubuntu';
      font-size: 16px;
      text-transform: uppercase;
      color: #656565;
      border-bottom: 1px solid #999;
      margin-bottom: 6px;
      margin-top: 12px;
    }
    .box > a {
      color: #2eab49;
      font-weight: bold;
      text-transform: none;
      font-size: 18px;
      padding: 4px;
      border: 1px solid #2eab49;
    }
    .box > a:hover {
      background-color: #2eab49;
      color: #EFEFEF;
      font-weight: bold;
      text-transform: none;
      font-size: 18px;
    }
    .box {
      display: block;
      text-align: left;
      margin-bottom: 12px;
    }
    .thumbnail { display: inline-block; }
  }

  section#venue {
    p.title {
      font-family: 'Ubuntu';
      font-size: 24px;
      color: #656565;
      margin-bottom: 12px;
    }
    .photo {
      float: left;
      @media (min-width: 980px) { width: 500px; }
      margin: 0 23px 30px 0;
    }

    #googleMapWrapper {
      width: 100%;
      height: 250px;
      overflow: hidden;
      margin: 0 0 12px 0;
    }
    #googleMapWrapper #googleMap {
      width: 100%;
      height: 250px;
    }
  }

  section#team {
    font-family: 'Ubuntu';
    .row { margin-bottom: 30px; }
    img { width: 150px; }
    h3 {
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
      line-height: 20px;
    }
    p {
      color: #181818;
      font-size: 12px;
      font-weight: bold;
      line-height: 14px;
    }
    a, a:hover { color: #2EAB49; }
  }

  section#inscriptions {
    img { width: 870px; margin-bottom: 20px; }
    p { margin-bottom: 15px; }
    spam {
      &.expired { text-decoration: line-through }
      &.current { color: red; }
    }
  }

  section#trainings {
    img { width: 870px; margin-bottom: 20px; }
    h3 {
      text-transform: uppercase;
      font-size: 12pt;
      letter-spacing: 0.1em;
      font-family: 'Ubuntu';
    }
  }
}
